html {
    font-size: 12pt;
}
body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

.navbar .nav-link, .link, .btn  {
    font-size: 12pt;
}

.page-header {
    padding-top: 5px;
}

.table .col-price {
    width: 9em;
    text-align: right;
}

.table .col-action {
    width: 9em;

}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.top-space-lg {
    margin-top: 50px;
}

.top-space-md {
    margin-top: 30px;
}

.top-space-sm {
    margin-top: 10px;
}

.toolbar {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tool {
    margin-left: 1em;
    margin-right: 1em;
}

.tool-lg {}

.icon-lg {
    width: 20px;
    height: 20px;
}

.icon-sm {
    width: 14px;
    height: 14px;
}

.tool-lg img.icon-lg {
    margin-right: 10px;
}

#results_panel {
    background-color: #fcf8e3;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eef4dd;
}

#results_panel .result {
    margin: 2px;
    padding: 5px;
}

#results_panel .result:hover {
    border-left: 3px solid #f3f3f3;
}

@media screen and (min-width: 992px) {
    .page-header {
        margin-top: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

.item_number {
    background-color: #2d2e2b;
    color: #f3f3f3;
    padding: 0.15em 0.5em;
    display: inline-block;
    font-size: 65%;
    vertical-align: top;
    border-radius: 5em;
}