body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.page-header {
  padding-top: 10px;
}

.table .col-price {
  width: 7em;
}
.table .col-action {
  width: 10em;

}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
