@page {
    size: Letter portrait;
    margin: 2cm;

	/*see http://diethardsteiner.github.io/reporting/2015/02/17/CSS-for-print.html*/
    @bottom-center {
		width: 100%;
        content: "Page " counter(page) " of " counter(pages);
		vertical-align: middle;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 10pt;
	}
}

body {
    /*font-family: "Times", serif;*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
h1 {
    font-size: 12pt;
}
h2 {
    font-size: 11pt;
}

.hidden-print, .col-action {
    display: none;
}
.table {
    table-layout: fixed;
    width: 100%;
}

.table .col-price {
    width: 7em;
    text-align: right;
}
.table .quantity {
    width: 5em;
    text-align: right;
}
.table thead th {
    border-bottom: 1px solid gray;
}
.table tbody td {
    border-bottom: 1px dotted gray;
}
.table tfoot th {
    border-top: 1px solid gray;
}

.receipt-head {
    font-size: 20pt;
}
.receipt-sub {
    font-size: 10pt;
}
.receipt-info {
    font-size: 10pt;
}
.receipt-info th {
    text-align: center;
}
.table.receipt-info{
    border: 1px solid gray;
}
.table.receipt-info td {
    vertical-align: top;
    border-bottom: none;
}
