services:
  db:
    env_file:
      - ./.env.db
    restart: always
    image: postgres:latest
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./data:/data
  app:
    env_file:
      - ./.env.dev
    image: auctionbroker
    command: python manage.py runserver 0.0.0.0:8000
#    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --reload
    build:
      context: .
      dockerfile: ./Dockerfile
#    platform: "linux/amd64"
    links:
      - db:db
    volumes:
      - .:/home/appuser
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: