[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.6.6"

[packages]

"django-bootstrap4" = "*"
channels = "*"
dj-database-url = "*"
django = "==2.0.8"
django-braces = "*"
django-easy-timezones = "*"
django-extra-views = "*"
factory-boy = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
weasyprint = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

django-debug-toolbar = "*"
pytest-django = "*"
coverage = "*"
ipdb = "*"
