[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = ">=3.11.*"

[packages]
"django-bootstrap4" = "*"
dj-database-url = "*"
django = "<5.0.0"
django-braces = "*"
django-crispy-forms = "*"
django-tz-detect = "*"
django-extra-views = "*"
factory-boy = "*"
"psycopg2-binary" = "*"
weasyprint = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
xlsxwriter = "*"
sentry-sdk = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
coverage = "*"
ipdb = "*"
