{% extends 'action_page.html' %}
{% load static %}
{% load money %}

{% block title %}Auction Item{% endblock %}

{% block page-heading %}<div class="item_number">#{{ object.item_number }}</div> {{ object.name }}{% endblock %}

{% block content %}
    {% with object as item %}
        {% include 'auction/auctionitem_detail_snippet.html' %}

    <div class="toolbar hidden-print">
        <a class="tool tool-lg btn btn-secondary" href="{% url 'item_update' item_number=item.item_number %}" >
            <img class="icon-lg" src="{% static 'svg/pencil.svg'%}" alt="pencil" /> Edit Item</a>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'bidding_recorder' item_number=item.item_number %}" >
            <img class="icon-lg" src="{% static 'svg/circle-check.svg' %}" alt="circle-check" /> Record Bid</a>
    </div>

    {% endwith %}
{% endblock %}