{% extends 'action_page.html' %}
{% load static %}
{% load money %}
{% load tz %}

{% block title %}{{ auction_booth.name|capfirst }} Management{% endblock %}

{% block page-heading %}{{ auction_booth.name|capfirst }} Management{% endblock %}

{% block content %}
    <div class="toolbar hidden-print">
        <div class="float-right">
            <form class="form form-inline" method="get" action="{% url 'item_management' booth_slug=auction_booth.slug %}">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}"/>
                    <button class="input-group-append" type="submit"><img class="icon-lg" src="{% static 'svg/magnifying-glass.svg' %}" /></button>
                </div>
            </form>
        </div>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'item_create' booth_slug=auction_booth.slug %}" >
            <img class="icon-lg" src="{% static 'svg/plus.svg'%}" alt="plus" /> Add Auction Item</a>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'donate' %}?next={% url 'item_management' booth_slug=auction_booth.slug%}" >
            <img class="icon-lg" src="{% static 'svg/dollar.svg' %}" alt="dollar" /> Add Donation</a>
    </div>

    {% if not object_list %}
        <p>No Auction Items are registered {% if q %} that match the query: {{ q }}{% endif %}</p>
    {% else %}
    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID/Time</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td scope="row"><a class="pk" href="{% url 'item_detail' item_number=item.item_number %}" >{{ item.item_number }}</a>
                {% if item.purchase_set.count > 0 %}<span class="badge badge-success">Sold!</span>{% endif %}
                <br/>
                {{ item.scheduled_sale_time|date:"P" }}</td>
            <td><a href="{% url 'item_detail' item_number=item.item_number %}" >{{ item.name }}</a>
                {% if item.donor %} &ndash; donated by {{ item.donor.name }} {% endif %}
                {% if item.long_desc %}<br/>{{ item.long_desc|truncatewords_html:10 }}{% endif %}</td>
            {% if item.purchase_set.count > 0 %}
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'bidding_recorder' item_number=item.item_number %}">Edit Bid</a><br/>
                    {{ item.purchaser_count }} Buyer{{ item.purchaser_count|pluralize }} &middot; {{ item.purchase_sum|money }}
                </td>
            {% else %}
                <td><a class="btn btn-primary btn-sm" href="{% url 'bidding_recorder' item_number=item.item_number %}">Record Bid</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}
