{% extends 'action_page.html' %}
{% load static %}
{% load money %}

{% block title %}{{ auction_category|capfirst }} Auction Management{% endblock %}

{% block page-heading %}{{ auction_category|capfirst }} Auction Management{% endblock %}

{% block content %}
    <div class="toolbar hidden-print">
        <div class="float-right">
            <form class="form form-inline" method="get" action="{% url 'item_management' category=auction_category%}">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}"/>
                    <button class="input-group-append" type="submit"><img class="icon-lg" src="{% static 'svg/magnifying-glass.svg' %}" /></button>
                </div>
            </form>
        </div>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'item_create' %}" >
            <img class="icon-lg" src="{% static 'svg/plus.svg'%}" alt="plus" /> Add Auction Item</a>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'donate' %}?next={% url 'item_management' %}" >
            <img class="icon-lg" src="{% static 'svg/dollar.svg' %}" alt="dollar" /> Add Donation</a>
    </div>

    {% if not object_list %}
        <p>No Auction Items are registered {% if q %} that match the query: {{ q }}{% endif %}</p>
    {% else %}
    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
{#            <th>Description</th>#}
            <th scope="col">Scheduled Time</th>
            <th scope="col">Sold?</th>
        </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td scope="row"><a class="pk" href="{% url 'item_detail' item_number=item.item_number %}" >{{ item.item_number }}</a></td>
            <td><a href="{% url 'item_detail' item_number=item.item_number %}" >{{ item.name }}</a></td>
{#            <td>{{ item.long_desc|truncatewords:10 }}</td>#}
            <td>{{ item.scheduled_sale_time|date:"P" }}</td>
            {% if item.purchase_id %}
            <td>(<a href="{% url 'patron_detail' pk=item.purchase.patron_id %}" >{{ item.purchase.patron.buyer_num}}</a>) {{ item.purchase.amount|money }}</td>
            {% else %}
                <td><a class="btn btn-primary btn-sm" href="{% url 'bidding_recorder' item_number=item.item_number %}">Record Bid</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}