{% extends 'action_page.html' %}
{% load static %}
{% load money %}

{% block title %}Auction Item{% endblock %}

{% block page-heading %}{{ object.name }}{% endblock %}

{% block content %}
    {% with object as item %}

    <div class="toolbar hidden-print">
        <a class="tool tool-lg btn btn-secondary" href="{% url 'item_update' item_number=item.item_number %}" >
            <img class="icon-lg" src="{% static 'svg/pencil.svg'%}" alt="pencil" /> Edit Item</a>
        <a class="tool tool-lg btn btn-secondary" href="{% url 'bidding_recorder' item_number=item.item_number %}" >
            <img class="icon-lg" src="{% static 'svg/circle-check.svg' %}" alt="circle-check" /> Record Bid</a>
    </div>

    <ul>
        <li>Number: {{ item.item_number }}</li>
        <li>Is Sold: {{ item.is_purchased|yesno:"Yes,No" }}</li>
        {% if item.purchase %}
        <li>Winner: {{ item.purchase.patron.name }}</li>
        <li>Purchase Price: {{ item.purchase.amount|money }}</li>
        {% endif %}
        <li>Fair Market Value: {{ item.fair_market_value|money }}</li>
        <li>Auction Time: {{ item.scheduled_sale_time }}</li>
        <li>Sale Time: {{ item.sale_time }}</li>
        <li>Desc: {{ item.long_desc }}</li>
    </ul>
    {% endwith %}
{% endblock %}