{% extends 'base.html' %}
{% block main %}

    <h1>Item: {{ item.name }} | <a href="{% url 'item_update' pk=item.pk %}" >Edit</a></h1>

    <ul>
        <li>Desc: {{ item.long_desc }}</li>
        <li>Winner: {{ item.charge.buyer.name }}</li>
        <li>Auction Time: {{ item.auction_time }}</li>
    </ul>
    <form action="{% url "bidding_recorder" pk=item.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Record Wining Bid" />
        <input type="reset" value="Cancel" />
    </form>
{% endblock %}