{% load static %}
{% load money %}

{% if not buyer.account_is_settled %}
    <h2 class="top-space-md text-warning">Balance Due: <b>{{ buyer.outstanding_balance|money }}</b></h2>
{% else %}
    <h2 class="top-space-md">Account is <span class="text-success" >Paid in Full</span></h2>
    <p>No payments are necessary, payments are equal to charges.</p>
{% endif %}


{% if buyer.purchases.all %}
    <h2>Purchases</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="col-action">Action</th>
                <th scope="col">Charge Description</th>
                <th scope="col" class="col-price">Donation</th>
                <th scope="col" class="col-price">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in buyer.purchases.all %}
            <tr>
                <td class="col-action">
                    <a class="btn btn-sm btn-secondary " href="{% url 'purchase_update' pk=purchase.pk %}?next={% url 'buyer_detail' pk=buyer.pk %}" title="Edit">
                        <img class="icon-sm" src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'purchase_delete' pk=purchase.pk %}?next={% url 'buyer_detail' pk=buyer.pk %}" title="Delete">
                        <img class="icon-sm" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
                <td>
                    {% if purchase.item.booth %}<em>{{ purchase.item.booth.name }}</em>: {% endif %}{{ purchase.item.name }}
                </td>
                <td class="col-price"> {% if purchase.donation_amount %} {{ purchase.donation_amount|money }} {% else %} - {% endif %} </td>
                <td class="col-price">{{ purchase.amount|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="col-action"></th>
            <th class="text-right" >Totals</th>
            <th class="col-price">{{ buyer.donations_total|money }}</th>
            <th class="col-price">{{ buyer.outstanding_purchases_total|money }}</th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <h2>No purchases</h2>
{% endif %}

{% if buyer.payments.all %}
    <h2>Payments</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="col-action">Action</th>
            <th>Payments </th>
            <th class="col-price">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in buyer.payments.all %}
            <tr>
                <td class="col-action">
                    <a class="btn btn-sm btn-secondary " href="{% url 'payment_update' pk=payment.pk %}?next={% url 'buyer_detail' pk=buyer.pk %}" title="Edit">
                        <img class="icon-sm" src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'payment_delete' pk=payment.pk %}?next={% url 'buyer_detail' pk=buyer.pk %}" title="Delete">
                        <img class="icon-sm" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
                </td>
                <td>
                    {{ payment.transaction_time|date:"SHORT_DATETIME_FORMAT" }} {{ payment.get_method_display }} {{ payment.notes }}
                </td>
                <td class="col-price">{{ payment.amount|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="col-action"></th>
            <th class="text-right" >Total Charges</th>
            <th class="col-price">{{ buyer.payments_total|money }}</th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <h2>No payments</h2>
{% endif %}
<p class="hidden-print"><a href="{% url 'buyer_pay' pk=buyer.pk %}" class="btn btn-primary btn-sm" >Add Payment</a></p>

{% if buyer.donations_total %}
    <h2>Donation Amount: {{ buyer.donations_total|money }}</h2>

    <p>The donation amount is the price difference from what the buyer paid over and above the <q>Fair Market Value</q>
        (<acronym>FMV</acronym>).  Items that were purchased with a specific price are deemed to have a price equal to the
        <acronym>FMV</acronym>.  Items sold at auction or with a negotiated price are assigned a <acronym>FMV</acronym>
        before the sale.</p>

{% endif %}
