{% extends 'action_page.html' %}
{% load static %}

{% block title %}Buyer List{% endblock %}

{% block page-heading %}Buyer List{% endblock %}

{% block content %}
    <div class="toolbar hidden-print">
        <a class="tool tool-lg btn btn-secondary" href="{% url 'buyer_create' %}" >
            <img class="icon-lg" src="{% static 'svg/plus.svg'%}" alt="plus" /> Add Buyer</a>
    </div>

    {% if not object_list %}
        <p>No Buyers are registered.</p>
    {% else %}
    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-action">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
        </tr>
    </thead>
    <tbody>
        {% for buyer in object_list %}
        <tr>
            <td>
                <a class="btn btn-sm btn-secondary " href="{% url 'buyer_update' pk=buyer.pk %}" title="Edit">
                    <img style="width:14px; height: 14px;" src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                <a class="btn btn-sm btn-secondary" href="{% url 'buyer_delete' pk=buyer.pk %}" title="Delete">
                    <img style="width:14px; height: 14px;" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
            </td>
            <td><a href="{% url 'buyer_detail' pk=buyer.pk %}" >{{ buyer.name }}</a></td>
            <td><a href="{% url 'buyer_detail' pk=buyer.pk %}" >{{ buyer.buyer_num }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}