{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load money %}

{% block title %}{{ buyer.name }} Donate{% endblock %}

{% block page-heading %}Make a Donation for {{ buyer.name }}{% endblock %}

{% block content %}
    <form class="top-space-lg" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Make Donation</button>
            <a class="btn btn-secondary" href="{% url 'buyer_detail' pk=buyer.pk %}">Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}