{#{% extends 'action_page.html' %}#}
{#{% block main %}#}
    <h1>Bidder: {{ buyer.name }} | <a href="{% url 'buyer_update' pk=buyer.pk %}" >Edit</a></h1>
    <h2>ID: {{ buyer.buyer_num }}</h2>
    <h2>Charges | <a href="{% url 'buyer_receipt' pk=buyer.pk %}">Receipt</a></h2>
    {% if buyer.purchases.all %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Paid</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in buyer.purchases.all %}
        <tr>
            <td>
                {{ purchase.item.booth.name }}: {{ purchase.item.name }}
            </td>
            <td>{{ purchase.amount }}</td>
            <td>{{ purchase.state }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th>{{ buyer.outstanding_purchases_total }}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
    {% else %}
        <p>No charges</p>
    {% endif %}
{#{% endblock %}#}