{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load money %}

{% block title %}{{ buyer.name }} Payment{% endblock %}

{% block page-heading %}Record a Payment for {{ buyer.name }}{% endblock %}

{% block content %}
    <h2 class="top-space-med">{{ buyer.name }} has an outstanding balance of <b>{{ buyer.outstanding_balance|money }}</b>.</h2>
    <form class="top-space-lg" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
            {% bootstrap_field form.amount %}
            </div>
            <div class="col-md-6">
            {% bootstrap_field form.method %}
            </div>
        </div>
        {% bootstrap_field form.note %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Make Payment</button>
            <a class="btn btn-secondary" href="{% url 'buyer_detail' pk=buyer.pk %}">Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}