{% extends 'base.html' %}
{% block main %}
    <h1>Bidder: {{ buyer.name }} | <a href="{% url 'buyer_update' pk=buyer.pk %}" >Edit</a></h1>
    <h2>ID: {{ buyer.buyer_num }}</h2>
    <h2>Charges</h2>
    {% if buyer.charges.all %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Paid</th>
        </tr>
        </thead>
        <tbody>
        {% for charge in buyer.charges.all %}
        <tr>
            <td>
            {% if charge.item %}
                {{ charge.item.name }}
            {% endif %}
            </td>
            <td>${{ charge.amount }}</td>
            <td>{{ charge.state }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th>{{ buyer.outstanding_charges_total }}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
    {% else %}
        <p>No charges</p>
    {% endif %}
{% endblock %}