{% extends 'action_page.html' %}
{% load static %}

{% block title %}Buyer List{% endblock %}

{% block main %}
    <h1 class="page-header">Buyers</h1>
    {% if not object_list %}
        <p>No Buyers are registered.</p>
    {% else %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-action">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
        </tr>
    </thead>
    <tbody>
        {% for buyer in object_list %}
        <tr>
            <td>
                <a class="btn btn-sm btn-outline-secondary " href="{% url 'buyer_update' pk=buyer.pk %}" title="Edit">
                    <img src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'buyer_delete' pk=buyer.pk %}" title="Delete">
                    <img src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
            </td>
            <td><a href="{% url 'buyer_detail' pk=buyer.pk %}" >{{ buyer.name }}</a></td>
            <td><a href="{% url 'buyer_detail' pk=buyer.pk %}" >{{ buyer.buyer_num }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}