{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    {{ booth.name }} Checkout
{% endblock %}

{% block page-heading %}{{ booth.name }} Checkout{% endblock %}

{% block content %}

    <div class="row container-fluid top-space-lg">
        <div class="col col-md-6">
            <form action="{% url 'checkout_patron' booth_slug=booth.slug %}" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit" >Select Buyer</button>
                    <button class="btn btn-secondary" type="reset" >Clear</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col col-md-6">
            <div class="softkeys" data-target="input[id=id_buyer_num]"></div>
        </div>
    </div>
{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/softkeys-0.0.1.css' %}">
{% endblock %}

{% block script_footer %}
    <script src="{% static 'js/softkeys-0.0.1.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.softkeys').softkeys({
                target: $('.softkeys').data('target'),
                layout: [
                    [
                        '7',
                        '8',
                        '9',
                    ],
                    [
                        '4',
                        '5',
                        '6',
                    ],
                    [
                        '1',
                        '2',
                        '3',
                    ],
                    [
                        '0'
                    ]
                ]
            });
        });
    </script>
{% endblock %}
