{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load money %}

{% block title %}{{ booth.name }} Checkout{% endblock %}

{% block page-heading %}{{ booth.name }} Checkout: {{ patron.name }} (#{{ patron.buyer_num }}){% endblock %}

{% block content %}
    <h2 class="top-space-md">The total purchase price is <b>{{ purchase_total|money }}</b>. Is this correct?</h2>
    <form class="top-space-md" action="{% url 'checkout_confirm' buyer_num=patron.buyer_num booth_slug=booth.slug %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary btn-lg" type="submit">Yes</button>
            <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-secondary btn-lg" >No</a>
        {% endbuttons %}
    </form>
{% endblock %}
