{% extends 'base.html' %}
{% block main %}
    <p>Purchasing for: {{ buyer.name }}</p>
    <form action="{% url 'checkout_purchase' buyer_num=buyer.buyer_num booth_slug=booth.slug %}" method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset %}
            <div>
            {{ form }}
            </div>
        {% endfor %}
        <div>
            <input class="btn btn-primary" type="submit" value="Checkout" />
            <input class="btn btn-danger" type="reset" value="Cancel Checkout" />
        </div>
    </form>
{% endblock %}
