{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}{{ booth.name }} Checkout{% endblock %}

{% block page-heading %}{{ booth.name }} Checkout: {{ buyer.name }} (#{{ buyer.buyer_num }}){% endblock %}

{% block content %}
    <div class="row container-fluid top-space-lg" >
        <div class="col col-md-6">
            <form action="{% url 'checkout_purchase' buyer_num=buyer.buyer_num booth_slug=booth.slug %}" method="post" class="form">
            <h2>
                <div class="float-right">
                    {% buttons %}
                        <input class="btn btn-primary btn-lg" type="submit" value="Checkout"/>
                        <a class="btn btn-secondary btn-lg" href="{% url 'checkout_buyer' booth_slug=booth.slug %}" >Cancel Checkout</a>
                    {% endbuttons %}
                </div>
                Total: <span id="total"></span>
            </h2>
                {% csrf_token %}
                <input type="hidden" name="form-TOTAL_FORMS" value="0" id="id_form-TOTAL_FORMS">
                <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
                {% bootstrap_formset_errors formset %}

                <table class="table table-sm">
                    <thead >
                        <tr>
                            <th scope="col">Item Price</th>
                        </tr>
                    </thead>
                    <tbody id="entries">
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col col-md-6">
            <form id="entry">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Add Item</span>
                    </div>
                    <input class="form-control" id="newEntry" autofocus placeholder="$0.00">
                </div>
            </form>
            <div class="softkeys" data-target="input[id=newEntry]"></div>
        </div>
    </div>

{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/softkeys-0.0.1.css' %}">
    <style>
        #total {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block script_footer %}
    <script src="{% static 'js/softkeys-0.0.1.js' %}"></script>

    <script>
        var total = 0;

        document.getElementById('entry').onsubmit = enter;

        function next_form_number() {
            var current = document.getElementById('id_form-TOTAL_FORMS');
            current_num = parseInt(current.value);
            current.value = current_num + 1;
            return current_num;

        }
        function next_amount(cnt, entry) {
            return '<input type="text" name="form-'+cnt+'-price" class="form-control" title="" id="id_form-'+cnt+'-price" value="' + entry +'">';
        }
        function enter() {
            var entry = document.getElementById('newEntry').value;
            var entry = parseFloat(entry);
            currency = currencyFormat(entry);
            var cnt = next_form_number();
            document.getElementById('entries').innerHTML +=
                '<tr><td class="input-group"><div class="input-group-prepend"><span class="input-group-text">$</span></div>' + next_amount(cnt, currencyPad(entry)) + '</td>' +
                '</tr>';
            total += entry;
            document.getElementById('total').innerHTML = currencyFormat(total);

            document.getElementById('newEntry').value = '';
            return false;
        }

        function currencyPad(number) {
            var currency = parseFloat(number);
            currency = currency.toFixed(2);
            return currency;
        }

        function currencyFormat(number) {
            var currency = currencyPad(number);
            currency = '$' + currency;
            return currency;
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.softkeys').softkeys({
                target: $('.softkeys').data('target'),
                layout: [
                    [
                        '7',
                        '8',
                        '9',
                    ],
                    [
                        '4',
                        '5',
                        '6',
                    ],
                    [
                        '1',
                        '2',
                        '3',
                    ],
                    [
                        '0',
                        '.',
                        'return',
                    ],
                    [
                        'delete'
                    ]
                ]
            });
        });
    </script>
{% endblock %}
