{% load static %}
{% load money %}

{% if not patron.account_is_settled %}
    <h2 class="top-space-md text-warning">Balance Due: <b>{{ patron.outstanding_balance|money }}</b></h2>
{% else %}
    <h2 class="top-space-md">Account is <span class="text-success" >Paid in Full</span></h2>
    <p>No payments are necessary, payments are equal to charges.</p>
{% endif %}


{% if patron.donations.all %}
    <h2>In-Kind Donations</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="col-action">Action</th>
            <th scope="col">Description</th>
            <th scope="col" class="col-price">FMV Donation</th>
        </tr>
        </thead>
        <tbody>
        {% for donation in patron.donations.all %}
            <tr>
                <td class="col-action">
                </td>
                <td>
                    {% if donation.booth %}<em>{{ donation.booth.name }}</em>: {% endif %}{{ donation.name }}
                </td>
                <td class="col-price">{{ donation.fair_market_value|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="col-action"></th>
            <th class="text-right" >Total In-Kind Donations</th>
            <th class="col-price">{{ patron.in_kind_donations_total|money }}</th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <h2>No In-Kind Donations</h2>
{% endif %}


{% if patron.purchases.all %}
    <h2>Purchases</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="col-action">Action</th>
            <th scope="col">Description</th>
            <th scope="col" class="col-price">Donation</th>
            <th scope="col" class="col-price">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in patron.purchases.all %}
            <tr>
                <td class="col-action">
                    <a class="btn btn-sm btn-secondary " href="{% url 'purchase_update' pk=purchase.pk %}?next={% url 'patron_detail' pk=patron.pk %}" title="Edit">
                        <img class="icon-sm" src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'purchase_delete' pk=purchase.pk %}?next={% url 'patron_detail' pk=patron.pk %}" title="Delete">
                        <img class="icon-sm" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
                <td>
                    {% if purchase.item.booth %}<em>{{ purchase.item.booth.name }}</em>: {% endif %}{{ purchase.item.name }}
                </td>
                <td class="col-price"> {% if purchase.donation_amount %} {{ purchase.donation_amount|money }} {% else %} - {% endif %} </td>
                <td class="col-price">{{ purchase.amount|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="col-action"></th>
            <th class="text-right" >Total Purchases</th>
            <th class="col-price">{{ patron.purchase_donations_total|money }}</th>
            <th class="col-price">{{ patron.outstanding_purchases_total|money }}</th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <h2>No purchases</h2>
{% endif %}

{% if patron.fees.all %}
    <h2>Fees</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="col-action">Action</th>
                <th scope="col">Description</th>
                <th scope="col" class="col-price">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for fee in patron.fees.all %}
            <tr>
                <td class="col-action">
                    <a class="btn btn-sm btn-secondary" href="{% url 'fee_delete' pk=fee.pk %}?next={% url 'patron_detail' pk=patron.pk %}" title="Delete">
                        <img class="icon-sm" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
                </td>
                <td>{{ fee.description }}</td>
                <td class="col-price">{{ fee.amount|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="col-action"></th>
                <th class="text-right" >Total Fees</th>
                <th class="col-price">{{ patron.fees_total|money }}</th>
            </tr>
        </tfoot>
    </table>
{% endif %}

{% if patron.payments.all %}
    <h2>Payments</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="col-action">Action</th>
            <th>Description </th>
            <th class="col-price">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in patron.payments.all %}
            <tr>
                <td class="col-action">
                    <a class="btn btn-sm btn-secondary " href="{% url 'payment_update' pk=payment.pk %}?next={% url 'patron_detail' pk=patron.pk %}" title="Edit">
                        <img class="icon-sm" src="{% static 'svg/pencil.svg' %}" alt="pencil icon" /></a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'payment_delete' pk=payment.pk %}?next={% url 'patron_detail' pk=patron.pk %}" title="Delete">
                        <img class="icon-sm" src="{% static 'svg/delete.svg' %}" alt="delete icon" /></a>
                </td>
                <td>
                    {{ payment.transaction_time|date:"SHORT_DATETIME_FORMAT" }} {{ payment.get_method_display }} {{ payment.note }}
                </td>
                <td class="col-price">{{ payment.amount|money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="col-action"></th>
            <th class="text-right" >Total Payments</th>
            <th class="col-price">{{ patron.payments_total|money }}</th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <h2>No payments</h2>
{% endif %}
<p class="hidden-print"><a href="{% url 'patron_pay' pk=patron.pk %}" class="btn btn-primary btn-sm" >Add Payment</a></p>

{% if patron.donations_total %}
    <h2>Donation Amount: {{ patron.donations_total|money }}</h2>

    <p style="font-style: italic;">The donation amount is the amount of the contribution that is deductible for federal
    income tax purposes. This amount is the price difference from what the buyer paid over and above the <q>Fair Market
    Value</q>.  Items that were purchased with a specific price at this sale are deemed to have a price equal to the
    FMV.  Items sold at auction or with a negotiated price were assigned a FMV before the sale and are listed as
    "in-kind" donations for the patron who donated the item.  Payments where no gift in kind was received are 100%
    donations. This disclosure is provided in keeping with IRS section 170 directives.</p>

{% endif %}
