{% extends 'paper.html' %}
{% load static %}

{% block main %}
    <h1 class="receipt-head">SD MCC Relief Sale &mdash; Receipt</h1>
    <p class="receipt-sub">PO Box 416 Freeman SD 57029 &middot; 605.925.7009 &middot; SDMCCReliefSale@gmail.com</p>

    <table class="table receipt-info">
        <thead>
            <tr>
                <th colspan="2">
                    Patron
                </th>
                <th>
                    Info
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ patron.name }}</td>
                <td>{{ patron.email }}</td>
                <td>Date: {{ meta.printing_time|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
            <tr>
                <td>{{ patron.address_line1 }}<br />
                    {{ patron.address_line2 }}<br />
                    {{ patron.address_line3 }}</td>
                <td>{{ patron.phone1 }}</td>
                <td>Buyer Number: {{ patron.buyer_num }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'auction/patron_charges_payment_table.html' %}
{% endblock %}