{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load money %}

{% block title %}{{ patron.name }} Payment{% endblock %}

{% block page-heading %}Record a cash or check payment for {{ patron.name }}{% endblock %}

{% block content %}
    <h2 class="top-space-med">{{ patron.name }} has an outstanding balance of <b>{{ patron.outstanding_balance|money }}</b>.</h2>
    <form class="top-space-lg" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="row">
            <div class="col-md-6">
            {% bootstrap_field form.amount addon_before='<div class="input-group-prepend"><span class="input-group-text">$</span></div>' %}
            </div>
            <div class="col-md-6">
            {% bootstrap_field form.method %}
            </div>
        </div>
        {% bootstrap_field form.note %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Make Payment</button>
            <a class="btn btn-secondary" href="{% url 'patron_detail' pk=patron.pk %}">Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}