{% extends 'action_page.html' %}
{% load bootstrap4 %}
{% load money %}

{% block title %}{{ patron.name }} Donate{% endblock %}

{% block page-heading %}Record a Donation for {{ patron.name }}{% endblock %}

{% block content %}
    <form class="top-space-lg" action="" method="post">
        {% csrf_token %}
        {% bootstrap_field form.donation addon_before='<div class="input-group-prepend"><span class="input-group-text">$</span></div>' %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Record Donation</button>
            <a class="btn btn-secondary" href="{% url 'patron_detail' pk=patron.pk %}">Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}