{% extends 'action_page.html' %}
{% load bootstrap4 %}

{% block title %}Edit Patron{% endblock %}

{% block page-heading %}Add/Edit Patron{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                {% bootstrap_field form.first_name field_class='searchable' %}
            </div>
            <div class="col-md-5">
                {% bootstrap_field form.last_name field_class='searchable' %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.buyer_num field_class='searchable' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field form.address_line1 field_class='searchable' %}
                {% bootstrap_field form.address_line2 layout='inline' field_class='searchable' %}
                {% bootstrap_field form.address_line3 layout='inline' field_class='searchable' %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field form.email %}
                {% bootstrap_field form.phone1 %}
            </div>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary" value="Submit" >Save</button>
            <button type="submit" class="btn btn-secondary" name="save_and_add_another">Save and Add Another</button>
            <button type="submit" class="btn btn-secondary" name="save_and_return_to_list">Save and List All</button>
        {% endbuttons %}
    </form>
    <div id="results_panel" class="list-group" style="display: none;">
    </div>
{% endblock %}


{% block script_footer %}
    <script>

    var thread = null;

    function patronLocate(t) {
        $.getJSON("{% url 'patron_lookup' %}", t, displayResults);
    }

    function displayResults(data){
        console.log(data);
        if(data.results) {
            $('#results_panel').children().remove();
            if (data.results.length > 25) {
                $("#results_panel").append("<h2>Too Many Matches</h2>");
                $("#results_panel").css('display', 'flex');
            }
            else if (data.results.length > 0) {
                $("#results_panel").append("<h2>Matches (" + data.results.length + ")</h2>");
                $("#results_panel").css('display', 'flex');

                $.each(data.results, function (i, item) {
                    // alert(item.first_name);
                    var e = "<a class='result list-group-item-action' href='/auction/patron/" + item.id + "/edit/' >" + item.first_name +
                        " " + item.last_name + " | " + item.address_line1 + ", " + item.address_line2 + ", " + item.address_line3 + "</a>";
                    $('#results_panel').append(e);
                });
            }
        }
        else {
            $("#results_panel").css('display', 'none');
        }
    }

    $('.searchable input').keyup(function() {
        clearTimeout(thread);
        var $this = $(this);
        thread = setTimeout(function(){
            var terms = Object();
            $.each($('.searchable input'), function(i, item) {
                terms[item.name] = item.value;
            });
            patronLocate(terms)},
            500);
    });

    </script>
{% endblock %}
