{% extends 'base.html' %}

{% block main %}
    <h1 class="page-header">Reports</h1>
    <div class="row top-space-lg">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unsettled Accounts</h5>
                    <p class="card-text">A report showing Patrons who have not yet settled their accounts.</p>
                    <a class="btn btn-primary" href="{% url 'report_unsettled_accounts' %}">List Unsettled Accounts</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sales by Booth</h5>
                    <p class="card-text">A breakdown, by booth, of where income was generated for the sale.</p>
                    <a class="btn btn-primary" href="{% url 'sales_by_booth' %}">Sales By Booth</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
