{% extends 'base.html' %}

{% block main %}
    <h1>Search</h1>
    <form method="get" action="{% url 'patron_search' %}">
        <input id="search1" class="searchfield" name="first_name" value="" />
        <input id="search2" class="searchfield" name="last_name" value="" />
    </form>
    <div id="results_panel">
        <ul>
        </ul>
    </div>
{% endblock %}

{% block script_footer %}
    <script>

    var thread = null;

    function findMember(t) {
        $.getJSON("{% url 'patron_lookup' %}", t, displayResults);
    }

    function displayResults(data){
        console.log(data);
        $('#results_panel .result').remove();
        $.each(data.results, function(i, item) {
            // alert(item.first_name);
            var e = "<li class='result'><a href='/auction/patron/" + item.id + "/edit/' >" + item.first_name +
                    " " + item.last_name + "</a></li>";
            $('#results_panel ul').append(e);
        });
    }

    $('.searchfield').keyup(function() {
        clearTimeout(thread);
        var $this = $(this);
        thread = setTimeout(function(){
            var terms = Object();
            $.each($('.searchfield'), function(i, item) {
                terms[item.name] = item.value;
            });
            console.log(terms);
            findMember(terms)},
            500);
    });

    </script>
{% endblock %}

