{% load static %}
{% load tz %}

{% localtime on %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../../../favicon.ico">#}

    <title>{% block title %}Sale{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    {% block extra_header %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">/ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'item_management' %}">Auction Item Management</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'patron_list' %}">Patron List</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Booth Checkout</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    {% for booth in booths %}
                        <a class="dropdown-item"
                           href="{% url 'checkout_patron' booth_slug=booth.slug %}">{{ booth.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
        {% if user.is_authenticated %}
            <div class="navbar-text">
                Welcome {{ user }} :: <a href="{% url 'logout' %}">Log Out</a>
            </div>
        {% else %}
            <div class="navbar-text">
                <a href="{% url 'login' %}">Log In</a>
            </div>
        {% endif %}
    </div>
</nav>

<main role="main" class="container">

    {% block main %}
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
            mostly barebones HTML document.</p>
    </div>
    {% endblock %}

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script_footer %}
{% endblock %}
</body>
</html>
{% endlocaltime %}
