{% extends 'base.html' %}
{% load static %}

{% block title %}SD MCC Sale Home{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-5">Welcome to the <acronym title="South Dakota">SD</acronym> <acronym
                title="Mennonite Central Commiteee">MCC</acronym> Relief Sale!</h1>
        <blockquote class="blockquote lead" style="margin: 2em 2em 2em 2em;">Relief, development and peace in the name of Christ<footer class="blockquote-footer"><a class="golink"
        href="https://mcc.org/learn/about/mission">MCC Mission Statement</a></footer> </blockquote>

        <p class="lead">All sales management are to be managed through this application so that checkout, auction
            bidding, payments and receipts can happen smoothly and efficiently.
        <hr class="my-4">
        {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Auction Management</div>
                        <div class="card-body">
                            <p class="card-text">Add and edit auction items and record auction item sales.</p>
                            <div class="list-group">
                            {% for auction_booth in auction_booths %}
                                <a class="list-group-item list-group-item-action"
                                   href="{% url 'item_management' booth_slug=auction_booth.slug %}">{{ auction_booth }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark mb-3" style="max-width: 20rem;">
                        <div class="card-header">Patron List</div>
                        <div class="card-body">
                            <p class="card-text">Provision buyer numbers, create Donors, provide account settlement.</p>
                            <a class="btn btn-primary btn-lg" href="{% url 'patron_list' %}" role="button">Patron List</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark mb-3" style="max-width: 20rem;">
                        <div class="card-header">Booth Checkout</div>
                        <div class="card-body">
                            <p class="card-text">Provide cashier services at the various booths to allow patrons to
                                purchase priced items using just their buyer number.</p>
                            <div class="list-group">
                                {% for booth in priced_booths %}
                                    <a class="list-group-item list-group-item-action"
                                       href="{% url 'checkout_patron' booth_slug=booth.slug %}">{{ booth.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="alert alert-warning col-md-4 offset-md-4" role="alert">
                <h4 class="alert-heading">Login Required</h4>
                <p class="lead">In order to use this tool, you must <a class="alert-link" href="{% url 'login' %}">log in</a>
                    with the credentials provided to you.</p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
